<head>
   <title>Feathercaster</title>
   <style>
      html, body {
          width: 100%;      /*provides the correct work of a full-screen layout*/
          height: 100%;     /*provides the correct work of a full-screen layout*/
          overflow: hidden; /*hides the default body's space*/
          margin: 0px;      /*hides the body's scrolls*/
      }
    </style>
</head>
<body>
  <script>
    dhtmlxEvent(window,"load",function(){

      //Init the layout
      pageLayout = new dhtmlXLayoutObject(document.body,"2U");
      pageLayout.cells("a").setWidth(250); //the method takes a number without 'px'
      pageLayout.cells("a").hideHeader();
      pageLayout.cells("b").hideHeader();

      //Init the tree
      var myTree = pageLayout.cells("a").attachTree();
      myTree.setImagesPath("dhxtree_skyblue/");
      myTree.loadXML("treeTestData.xml");

      //Init the scheduler
      initScheduler(pageLayout.cells('b'));

    });
  </script>
</body>
